html {
  height: 100%;
  width: 100%;
}

body {
  /* background-color: blanchedalmond; */
  /* height: 100%; */
  width: 100%;
  background: url('../images/wallpaper_black-purple-checkered-squares-3840x2160.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 600px;
  /* background-size: cover; */
  display: flex;
}

#gameScreen {
  background-color: black;
  margin: 0 px auto;
  margin-top: 150px;
  /* border: 1px solid darkslateblue; */
}

img {
  display: none;
}

#background {
  height: 100%;
  width: 100%;
}